DJANGO_SECRET_KEY=django-insecure-k87*u8p&=#9_sf3b#q-h-hj-ds4^7yjl)!eq+e%lu2u)jcdnx$
DEBUG=True
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=localhost
DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=open-sacco-db
DATABASE_USERNAME=admin
DATABASE_PASSWORD=password
DATABASE_HOST=db
DATABASE_PORT=5432

# Postgres specific variables for the db service
POSTGRES_DB=open-sacco-db
POSTGRES_USER=admin
POSTGRES_PASSWORD=password